In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go

In [3]:
df = pd.read_csv('most_followed_ig.csv')

,RANK,BRAND,CATEGORIES 1,CATEGORIES 2,FOLLOWERS,ER,iPOSTS ON HASHTAG,MEDIA POSTED
0,1,Selena Gomez,celebrities,musicians,105.4M�(=),2.62%�(1342),14.5M�(48),1.2k�(2135)
1,2,Taylor Swift,celebrities,musicians,95.2M�(=),1.96%�(2040),10.5M�(66),958�(2669)
2,3,Ariana Grande,celebrities,musicians,92.3M�(=),1.43%�(2759),16.9M�(41),2.8k�(824)
3,4,Beyonce,celebrities,musicians,90.6M�(=),2.53%�(1427),9.2M�(70),1.4k�(1897)
4,5,Kim Kardashian West,celebrities,tv,89.3M�(=),1.39%�(2812),5.1M�(130),3.6k�(550)

In [13]:
df['ER'].head()

0    2.62%�(1342)
1    1.96%�(2040)
2    1.43%�(2759)
3    2.53%�(1427)
4    1.39%�(2812)
Name: ER, dtype: object

In [14]:
df.head()

,RANK,BRAND,CATEGORIES 1,CATEGORIES 2,FOLLOWERS,ER,iPOSTS ON HASHTAG,MEDIA POSTED
0,1,Selena Gomez,celebrities,musicians,105.4M�(=),2.62%�(1342),14.5M�(48),1.2k�(2135)
1,2,Taylor Swift,celebrities,musicians,95.2M�(=),1.96%�(2040),10.5M�(66),958�(2669)
2,3,Ariana Grande,celebrities,musicians,92.3M�(=),1.43%�(2759),16.9M�(41),2.8k�(824)
3,4,Beyonce,celebrities,musicians,90.6M�(=),2.53%�(1427),9.2M�(70),1.4k�(1897)
4,5,Kim Kardashian West,celebrities,tv,89.3M�(=),1.39%�(2812),5.1M�(130),3.6k�(550)